.login-container-out {
  height: 100%;
  position: relative
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
 .login-container > * {
   width: 250px;
}
