<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <i mat-list-icon class="fas fa-home"></i>
        <p mat-line>Kezdőoldal</p>
      </a>
      <a mat-list-item routerLink="/groups" routerLinkActive="active">
        <i mat-list-icon class="fas fa-user-friends"></i>
        <p mat-line>Közösségek</p>
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active">
        <i mat-list-icon class="fas fa-user"></i>
        <p mat-line>Felhasználók</p>
      </a>
      <a mat-list-item routerLink="/prayers" routerLinkActive="active">
        <i mat-list-icon class="fas fa-pray"></i>
        <p mat-line>Imakérések</p>
      </a>
      <a mat-list-item routerLink="/feedback" routerLinkActive="active">
        <i mat-list-icon class="fas fas fa-comments"></i>
        <p mat-line>Visszajelzések</p>
      </a>
      <a mat-list-item href="#">
        <i mat-list-icon class="fas fa-sign-out-alt"></i>
        <p mat-line>Kijelentkezés</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Imazsák - admin</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

